<div class="row">
    <div class="col-12 form-row">
        <div class="col">
            <select name="" id="" class="form-control form-control-lg" [(ngModel)]="seleccion"
                (change)="onSelected($event)">
                <option value="USD" selected>Dolares</option>
                <option value="BOB">Bolivianos</option>
                <option value="BRL">Reales</option>
                <option value="PEN">Soles</option>
            </select>
        </div>
        <div class="col">
            <input type="text" readonly [placeholder]="'Total: $'+total" class="form-control">
        </div>
    </div>
    <div class="col-12">
        <hr>
        <form [formGroup]="formCortes">
            <div class="form-group" *ngIf="seleccion!='USD'">
                <label for="">200</label>
                <input type="number" id="doscientos" class="form-control" step="1" value="0" formControlName="doscientos" min="0">
            </div>
            <div class="form-group">
                <label for="">100</label>
                <input type="number" id="cien" class="form-control" step="1" value="0" formControlName="cien" min="0">
            </div>
            <div class="form-group">
                <label for="">50</label>
                <input type="number" id="cincuenta" class="form-control" step="1" value="0" formControlName="cincuenta" min="0">
            </div>
            <div class="form-group">
                <label for="">20</label>
                <input type="number" id="veinte" class="form-control" step="1" value="0" formControlName="veinte" min="0">
            </div>
            <div class="form-group">
                <label for="">10</label>
                <input type="number" id="diez" class="form-control" step="1" value="0" formControlName="diez" min="0">
            </div>
            <div class="form-group" *ngIf="seleccion!='PEN'">
                <label for="">5</label>
                <input type="number" id="cinco" class="form-control" step="1" value="0" formControlName="cinco" min="0">
            </div>
            <div class="form-group" *ngIf="seleccion!='PEN'">
                <label for="">2</label>
                <input type="number" id="dos" class="form-control" step="1" value="0" formControlName="dos" min="0">
            </div>
            <div class="form-group" *ngIf="seleccion!='PEN' && seleccion!='BRL'">
                <label for="">1</label>
                <input type="number" id="uno" class="form-control" step="1" value="0" formControlName="uno" min="0">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-lg btn-success" (click)="onSubmit()">Calcular</button>
            </div>
        </form>
    </div>
</div>