<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Fin de Semana</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of ['entrada','colacion','finColacion','salida']; index as x">
                    <th scope="row">{{n}}</th>
                    <td *ngFor="let h of horas; index as y"><input type="time" id="" [(ngModel)]="horas[y][n]"
                            (input)="onChange($event)"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="background-color: #ededed;">
                    <th scope="row">Parcial</th>
                    <td *ngFor="let i of parcial; index as x"><input type="time" id="" [(ngModel)]="parcial[x]"
                            readonly></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-12">
        <p>Total Horas Trabajadas: <strong>{{totalHoras}}</strong></p>
    </div>
</div>